// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@font-face {
    font-weight: 300;
    font-family: "Circular Std";
    src: local("Circular Std Book"), url(../../fonts/Circular-Std/book.woff) format("woff"),
      url(../../fonts/Circular-Std/book.woff2) format("woff2");
}
  
@font-face {
    font-weight: 400;
    font-family: "Circular Std";
    src: local("Circular Std Medium"), url(../../fonts/Circular-Std/medium.woff) format("woff"),
      url(../../fonts/Circular-Std/medium.woff2) format("woff2");
}
  
@font-face {
    font-weight: 700;
    font-family: "Circular Std";
    src: local("Circular Std Black"), url(../../fonts/Circular-Std/black.woff) format("woff"),
        url(../../fonts/Circular-Std/black.woff2) format("woff2");
}